<mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Móvil</mat-card-title>
                <mat-card-subtitle>Precio</mat-card-subtitle>
                <img mat-card-xl-image src="./assets/movil.jpg" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac laoreet dui. Maecenas porta auctor viverra. Donec vel aliquet est. Curabitur rhoncus est augue, sed egestas orci lobortis id. Curabitur rhoncus condimentum est, sed tristique tellus dignissim non. </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Coche</mat-card-title>
            <mat-card-subtitle>Precio</mat-card-subtitle>
            <img mat-card-xl-image src="./assets/coche.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac laoreet dui. Maecenas porta auctor viverra. Donec vel aliquet est. Curabitur rhoncus est augue, sed egestas orci lobortis id. Curabitur rhoncus condimentum est, sed tristique tellus dignissim non. </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Bolso</mat-card-title>
                <mat-card-subtitle>Precio</mat-card-subtitle>
                <img mat-card-xl-image src="./assets/bolso.jpeg" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac laoreet dui. Maecenas porta auctor viverra. Donec vel aliquet est. Curabitur rhoncus est augue, sed egestas orci lobortis id. Curabitur rhoncus condimentum est, sed tristique tellus dignissim non. </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Calzado</mat-card-title>
                <mat-card-subtitle>Precio</mat-card-subtitle>
                <img mat-card-xl-image src="./assets/calzado.jpg" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac laoreet dui. Maecenas porta auctor viverra. Donec vel aliquet est. Curabitur rhoncus est augue, sed egestas orci lobortis id. Curabitur rhoncus condimentum est, sed tristique tellus dignissim non. </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Bici</mat-card-title>
                <mat-card-subtitle>Precio</mat-card-subtitle>
                <img mat-card-xl-image src="./assets/bici.jpg" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac laoreet dui. Maecenas porta auctor viverra. Donec vel aliquet est. Curabitur rhoncus est augue, sed egestas orci lobortis id. Curabitur rhoncus condimentum est, sed tristique tellus dignissim non. </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Pupitre</mat-card-title>
                <mat-card-subtitle>Precio</mat-card-subtitle>
                <img mat-card-xl-image src="./assets/pupitre.jpg" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac laoreet dui. Maecenas porta auctor viverra. Donec vel aliquet est. Curabitur rhoncus est augue, sed egestas orci lobortis id. Curabitur rhoncus condimentum est, sed tristique tellus dignissim non. </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>