<h2>Página de inicio</h2>
<h3>
  ¡Bienvenido a nuestro hogar digital!</h3>
<p>En este espacio, encontrarás un universo de posibilidades y experiencias diseñadas especialmente para ti. Desde información relevante hasta productos y servicios que enriquecerán tu vida, estamos aquí para acompañarte en cada paso del camino.</p>
<p>Siente la libertad de explorar, descubrir y conectarte. Este es más que un sitio web, es un punto de encuentro donde tus necesidades y deseos se fusionan con nuestras soluciones y creatividad.</p>
<p>¡Gracias por ser parte de nuestra comunidad! Estamos emocionados de comenzar este viaje contigo.</p>
<img src="./assets/ubrique.jpg" >
<router-outlet></router-outlet>